<!-- <div class="fixed bottom-0 mb-10 shadow rounded-lg bg-red-500" style="width:380px; left:50%; margin-left:-240px; height:120px">
    <div class="bg-white h-24 w-24 rounded-full absolute left-0 mt-3 ml-3"></div>
    <img src="/assets/img/notifications/danger.png" class="h-48 -ml-8 -mt-8 relative" style="margin-top: -15px;
    margin-left: -6px;
    width: 120px;
    height: auto;">
</div> -->
