<%- include('partials/header'); -%>

            <div class="dashboard-bg h-64 fixed w-full">
                <div class="absolute w-full h-full top-0 left-0 gradient-bg"></div>
            </div>
                <div class="px-8 py-5 relative">
                    <div class="flex items-center">
                        <h1 class="text-sm font-bold text-gray-700">Dashboard</h1>
                    </div>
                    
                    
                </div>
<%- include('partials/footer'); -%>
