            </div>    
        </div>
    </div>

    <!-- Preview Site Button -->
    <a href="/" class="fixed bottom-0 right-0 bg-white shadow-xl rounded-full mr-5 mb-5 py-2 px-5 text-xs font-bold">
        View Site
    </a>

    <script src="/dashboard/assets/js/app.js"></script>
    <% if( session.notification ) { %>
        <script>
            showNotification('<%= session.notification_type %>', '<%= session.notification %>');
            session.notification = '';
            session.notification_type = ''; 
        </script>
    <% } %>
</body>
</html>