            </div>    
        </div>
    </div>

    <script src="/dashboard/assets/js/app.js"></script>
    <% if( session.notification ) { %>
        <script>
            showNotification('<%= session.notification_type %>', '<%= session.notification %>');
            session.notification = '';
            session.notification_type = ''; 
        </script>
    <% } %>
</body>
</html>