@tailwind base;

@tailwind components;

@tailwind utilities;

.ce-block__content, .ce-toolbar__content{
    max-width:100% !important;
    margin-left:0px;
}

.ce-toolbar__plus{
    background:#ffffff;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.transition{
    transition: all 0.3s ease-in-out;
}

#settings{
    display:none;
    &.open{
        display:block;
    }
}

#settings-sidebar{
    right: -28rem;
    &.open{
        right:0px;
    }
}

.viking-input{
    @apply bg-white border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal;
    &:focus{
        @apply outline-none shadow-outline;
    }
}

.viking-label{
    @apply text-gray-600 text-sm font-medium mb-3 inline-block;
}

#notification{
    width: 320px;
    left: 50%;
    margin-left: -160px;
    height: 100px;
    bottom:-200px;
    z-index:999;
    &.open{
        bottom:0px;
    }
    .bubble{
        width: 75px;
        height: 75px;
        margin-top: 13px;
        margin-left: 13px;
    }
    img{
        margin-top: -25px;
        margin-left: 4px;
        width: 94px;
        height: auto;
    }
    &.danger{
        img{
            margin-top: -8px;
            margin-left: 2px;
            width: 90px;
            height: auto;
        }
    }
    &.info{
        img{
            margin-top: -15px;
            margin-left: 19px;
            width: 76px;
            height: auto;
        }
    }
    &.warning{
        img{
            margin-top: 5px;
            margin-left: 4px;
            width: 90px;
            height: auto;
        }
    }
}

#post{
    .ce-block--stretched{
        @apply -ml-12 -mr-10;
        .image-tool__image{
            border-radius:0px;
        }
    }

    .cdx-block{
        &.image-tool{
            padding-top:0px;
        }
    }

    .image-tool__image{
        border-radius:5px;
    }
}